.modalEdit {
  background-color: #8ccdfa;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  transform: translateY(42%);
}

.modalEdit__input-number {
  margin-top: 20px;
}

.modalEdit__btn-no-change, .modalEdit__btn-change {
  width: calc(50% - 20px);
}

.modalEdit__btn-no-change {
  margin-left: 10px;
  margin-right: 20px;
}