body {
  background-color: #FAFAFA;
}

.authorization {
  position: absolute;
  width: 510px;
  height: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 80px;
  background-color: #fff;
  border: 1px solid rgba(39, 39, 39, 0.1);
  border-radius: 5px; 
  text-align: center;
}

.logo {
  transform: scale(0.8);
}

.authorization__title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.authorization__login-group, .authorization__pw-group {
  text-align: left;
}

.authorization__login-label, .authorization__pw-label {
  margin-bottom: 0.2rem;
  color: rgba(23, 23, 25, 0.3);
}

.authorization__pw-input-vs_password {
  background: url(../../img/eye-off-gray.png) no-repeat center;
  width: 40px;
}

.authorization__pw-input-vs_text {
  background: url(../../img/eye.png) no-repeat center;
  width: 40px;
}

.btn-enter {
  width: 176px;
  height: 52px;
  margin-top: 50px;
}


