.modalAdd {
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  transform: translateY(42%);
}

.modalAdd__input-number {
  margin-top: 20px;
}

.modalAdd__btn-no-save, .modalAdd__btn-save {
  width: calc(50% - 20px);
}

.modalAdd__btn-no-save {
  margin-left: 10px;
  margin-right: 20px;
}