.search-page__title {
  text-align: center;
  margin-bottom: 40px;
}

.search-page__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* temp */

.videoItems {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.videoItem__video {
  flex: 0 0 25%;
  padding: 10px;
  position: relative;
  width: 100%;
  height: 0;
  /* padding-top: 56.25%; */
  padding-top: 14%;
}

.videoItem__iframe {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .videoItem__video {
    flex: 0 0 50%;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 28%;
  }
}

@media screen and (max-width: 768px) {
  .videoItem__video {
    flex: 0 0 100%;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56%;
  }
}
